@import '../../constants/variables.scss';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background: $inner-bg;
}

.cv-wrapper {
  width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  .cv-wrapper {
    width: 100%;
    padding: 0 5%;
  }
}

