//Colors
$main-bg: #FFF;
$inner-bg: #F2F3F4;
$main-text: #5D6D7E;
$tooltip: #FFF;
$link: #85929E;
$link-hover: #34495E;
$codewars-link: #5DADE2;
$shadow: rgba(0, 0, 0, 0.9);

//font
$desktopFont: 20px;
$desktopH1: 32px;
$desktopH2: 22px;
$tabletH1: 30px;
$tabletH2: 18px;
$tabletFont: 16px;

//indent
$desktopIndent: 40px;
$tabletIndent: 30px;

//Paddings
$desktopPadding: 15px 25px;
$headerDesktopBottom: 10px;

//Margins
$desktopBlockMargin: 40px;
$tabletBlockMargin: 30px;
